**/.DS_Store
**/.idea/**
**/bin/**
**/capture/**
**/data/**
**/plugins/**
**/saves/**
**/settings/**
**/sounds/**
**/obj/**
xunit/TestData/Cvl/*.cvl
xunit/TestData/Cvl/*.CVL
xunit/src/Sound/Cvl/*.cvl
xunit/src/Sound/Cvl/*.CVL
!xunit/TestData/Cvl/.gitkeep
**/TestResults/**
**/CoverageReport/**
**/*.cos
**/*.lnk
**/*.7z
**/*.java*
**/civ_orig/**
temp/
profiling/
**/docs
**/.github
build.*
PreviewPalast.txt
msbuild.binlog
plan-mapTileZoom.prompt.md
profiling.review.md
staged.*
todo Warnings.md
translation/obsoletekeys.txt
warning*.*
